a{
  text-decoration:none;
}

body{
  background-color:powderblue;
}

h1{
  color:#29cc00;
}

h3{
  color:#29cc00;
}

table{
  border-spacing:10px;
}

#picture{
  width:50px;
  height:50px;
  border-radius:100%;
}
