a{
  text-decoration:none;
}

body{
  background-color:powderblue;
}

h1{
  font-size: 60px;
  color:#29cc00;
}

h3{
  color:#29c402;
}

hr{
  border:1px solid white;
}

table{
  border-spacing:10px;
}

#picture{
  width:200px;
  height:200px;
  border-radius:100%;
}
